{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row no-gutters">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5 min-height">
        <div class="row">
            <div class="col text-center">
                <h2 class="title-text text-uppercase">Shopping Bag</h2>
                <hr class="w-50 mb-1 mx-auto">
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col">
                {% if bag_items %}
                <div class="d-block d-md-none">
                    {% for item in bag_items %}
                        <div class="row text-center">
                            <div class="col-12 col-sm-6 mb-3">
                                {% include 'bag/product-image.html' %}
                            </div>
                            <div class="col-12 col-sm-6 content-text my-auto">
                                {% include 'bag/product-info.html' %}
                            </div>
                            <div class="col-12 col-sm-6 content-text">
                                {% if item.product.clearance and item.product.clearance_price %}
                                    <p>Price Each: £{{ item.product.clearance_price }}</p>
                                {% else %}
                                    <p>Price Each: £{{ item.product.price }}</p>
                                {% endif %} 
                                {% if item.product.clearance and item.product.clearance_price %}
                                    <p class="fs-5"><strong>Subtotal: £{{ item.product.clearance_price | calc_subtotal:item.quantity }}</strong></p>
                                {% else %}
                                    <p class="fs-5"><strong>Subtotal: £{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                                {% endif %}
                            </div>
                            <div class="col-12 col-sm-6 px-5 mt-2">
                                {% include 'bag/quantity-form.html' %}
                            </div>
                        </div>
                        <hr class="my-4">
                    {% endfor %}
                    <div class="row text-end">
                        <div class="col">
                            {% include 'bag/bag-total.html' %}
                        </div>
                    </div>
                    <div class="row text-end mt-3">
                        <div class="col-12">
                            {% include 'bag/checkout-buttons.html' %}
                        </div>
                    </div>
                    <div class="btt-button">
                        <a class="btt-link d-flex h-100 unstyled">
                            <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
                        </a>	
                    </div>
                </div>
                <div class="table-responsive d-none d-md-block">

                    <!--Table displaying product information added to bag-->
                    <table class="table table-sm table-borderless">
                        <thead class="title-text text-center fs-5">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Product Info</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %}
                            <tr class="content-text text-center">
                                <td class="w-25 py-3">
                                    {% include 'bag/product-image.html' %}
                                </td>
                                <td class="py-3">
                                    {% include 'bag/product-info.html' %}
                                </td>
                                <td class="py-3">
                                    {% if item.product.clearance and item.product.clearance_price %}
                                        <p>£{{ item.product.clearance_price }}</p>
                                    {% else %}
                                        <p>£{{ item.product.price }}</p>
                                    {% endif %}   
                                </td>
                                <td class="py-3">
                                    {% include 'bag/quantity-form.html' %}
                                </td>
                                <td class="py-3">
                                    {% if item.product.clearance and item.product.clearance_price %}
                                        <p>£{{ item.product.clearance_price | calc_subtotal:item.quantity }}</p>
                                    {% else %}
                                        <p>£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-end pe-sm-5">
                                {% include 'bag/bag-total.html' %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-end pe-sm-5">
                                {% include 'bag/checkout-buttons.html' %}
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                    <div class="text-center">
                        <p class="content-text fs-4">It appears your shopping bag is currently empty</p>
                        <a href="{% url 'products' %}" class="btn content-text text-white buttons-general text-uppercase mt-2 px-4" role="button"><i class="fas fa-chevron-left pe-2"></i>Keep Shopping</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>

    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function(e) {
            let form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            let csrfToken = "{{ csrf_token }}";
            let itemId = $(this).attr('id').split('remove_')[1];
            let size = $(this).data('product_size');
            let url = `/bag/remove/${itemId}/`;
            let data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        });
    </script>
{% endblock %}
