{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row no-gutters">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="bg-parallax"></div>
    <div class="container-fluid px-0">

        <!--About Us Image-->
        <div class="row no-gutters">
            <div class="col-12 px-0 about-us-image-container">
                <img src="{{MEDIA_URL}}about-us-main.jpeg" class="about-us-image" alt="Sgurr Fiona">
                <div class="bottom-left pe-1">
                    <h4 class="title-text text-white text-uppercase">Born in the Scottish Highlands</h4>
                    <p class="content-text text-white">Functional, Durable, Timeless</p>
                </div>
            </div>
        </div>

        <!--Our Story Section-->
        <div class="row no-gutters py-4 bg-white">
            <div class="col-12 col-lg-4 text-center title-text mb-3">
                <h3>Our Story</h3>
            </div>
            <div class="col-12 col-lg-7 col-xl-6 px-4 content-text larger-content-text">
                <p>
                    Tarmachan was born on the rugged mountain slopes of the Scottish Highlands wilderness. It's not our place to tell people to go to the wild places
                    and mountains. It's our mission to provide our athletes and explorers the very best equipment in order to do so. 
                </p>
                <p>
                    "Tarmachan" is the Gaelic word for Ptarmigan. These little birds, only found on the high slopes of the Highlands, are master's of disguise - 
                    matching its Highland surroundings perfectly by turning snow-white in winter and rock-grey in summer.
                </p>
                <p>
                    Coincidentally it was on the slopes of Meall Nan Tarmachan that a walking enthusiast spotted a congregation of 
                    Ptarmigans and resolved to follow his passions to found a store for the modern day mountaineer. 
                </p>
            </div>
        </div>

        <!--Parallax Image-->
        <div class="parallax"></div>

        <!--Our Philosophy Section-->
        <div class="row no-gutters py-4 bg-white">
            <div class="col-12 col-lg-4 text-center title-text mb-3">
                <h3>Our Philosophy</h3>
            </div>
            <div class="col-12 col-lg-7 col-xl-6 px-4 content-text larger-content-text">
                <p>
                    We believe everyone has a right to explore the wilderness and our products are designed to leave an ever smaller foot-print 
                    on the planet. 
                </p>
                <p>
                    Our efforts to support the preservation of the outdoors starts with our materials. All our products are made with recycled, 
                    regenerative, organic or responsibly-sourced renewable materials – which are materials that will replenish 
                    over the course of a lifetime.
                </p>
                <p>
                    We have recently become a member of the <em>"Fair Wear Foundation"</em> to actively improve conditions for 
                    the labour in our production factories. This is why you'll not only look great using our products, you'll feel 
                    great too. 
                </p>
            </div>
        </div>
    </div>

{% endblock %}
