{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid px-o">
    <div class="row no-gutters">
        <div class="col-12 px-0 about-us-image-container">
            <img src="/media/home-image-d.png" class="index-image" alt="Mountain Climbers">
            <div class="top-right pl-3">
                <h6 class="title-text text-white text-uppercase">Wherever I wander, wherever I rove,</h6>
                <h6 class="title-text text-white text-uppercase">The hills of the highlands forever I love. </h6>
                <p class="content-text text-white"><em>Robert Burns (1759 - 1796)</em></p>
            </div>
        </div>
    </div>
</div>

<section class="my-3 mx-2">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 my-2 product-container">
                <img src="/media/waterproof-index.png" class="featured-image" alt="Waterproofs">
                <div class="top-left">
                    <h5 class="title-text text-white text-uppercase">Jackets</h5>
                </div>
                <div class="bottom-right">
                    <div class="row">
                        <div class="col-6 button-container">
                            <a href="" class="btn content-text text-white gender-buttons" role="button">Men's </a>
                        </div>
                        <div class="col-6 button-container">
                            <a href="" class="btn content-text text-white gender-buttons" role="button">Women's</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 my-2 product-container">
                <img src="/media/shoes-index-2.png" class="featured-image" alt="Shoes">
                <div class="top-left">
                    <h5 class="title-text text-white text-uppercase">Shoes</h5>
                </div>
                <div class="bottom-right">
                    <div class="row">
                        <div class="col-6 button-container">
                            <a href="" class="btn content-text text-white gender-buttons" role="button">Men's </a>
                        </div>
                        <div class="col-6 button-container">
                            <a href="" class="btn content-text text-white gender-buttons" role="button">Women's</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 my-2 product-container">
                <img src="/media/legs-index.png" class="featured-image" alt="Legs">
                <div class="top-left">
                    <h5 class="title-text text-white text-uppercase">Legs</h5>
                </div>
                <div class="bottom-right">
                    <div class="row">
                        <div class="col-6 button-container">
                            <a href="" class="btn content-text text-white gender-buttons" role="button">Men's </a>
                        </div>
                        <div class="col-6 button-container">
                            <a href="" class="btn content-text text-white gender-buttons" role="button">Women's</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 my-2 product-container">
                <img src="/media/tops-index.png" class="featured-image" alt="Tops">
                <div class="top-left">
                    <h5 class="title-text text-white text-uppercase">Tops</h5>
                </div>
                <div class="bottom-right">
                    <div class="row">
                        <div class="col-6 button-container">
                            <a href="" class="btn content-text text-white gender-buttons" role="button">Men's </a>
                        </div>
                        <div class="col-6 button-container">
                            <a href="" class="btn content-text text-white gender-buttons" role="button">Women's</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax"></div>
    </div>
</section>

{% endblock %}
