{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- Owl carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
{% endblock %}

{% block extra_js %}
    <!-- Owl carousel JS -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row no-gutters">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="bg-parallax"></div>
<!--Home page hero image-->
<div class="container-fluid px-o bg-white">
    <div class="row no-gutters">
        <div class="col-12 px-0 about-us-image-container">
            <img src="{{MEDIA_URL}}home-image-d-r.png" class="index-image" alt="Mountain Climbers">
            <div class="top-right pl-3">
                <h6 class="title-text text-white text-uppercase">Wherever I wander, wherever I rove,</h6>
                <h6 class="title-text text-white text-uppercase">The hills of the highlands forever I love. </h6>
                <p class="content-text text-white"><em>Robert Burns (1759 - 1796)</em></p>
            </div>
            <div class="bottom-center">
                <div class="row no-gutters text-center">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 button-container text-center my-1 px-1">
                        <a href="{% url 'products' %}?master_category=mens" class="btn content-text text-white master-buttons" role="button">Men's </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 button-container text-center my-1 px-1">
                        <a href="{% url 'products' %}?master_category=womens" class="btn content-text text-white master-buttons" role="button">Women's</a>
                    </div>
                    <div class="col-12 col-lg-4 button-container text-center my-1 px-1">
                        <a href="{% url 'products' %}?master_category=equipment" class="btn content-text text-white master-buttons" role="button">Equipment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Featured Category Links-->
<section class="py-3 px-2 bg-white">
    <div class="container bg-white">
        <div class="row my-5 no-gutters">

            <!--Featured Jackets-->
            <div class="col-lg-3 col-md-6 col-sm-12 my-2 product-container">
                <img src="{{MEDIA_URL}}waterproof-index-r.png" class="featured-image" alt="Waterproofs">
                <div class="top-left">
                    <h5 class="title-text text-white text-uppercase">Jackets</h5>
                </div>
                <div class="bottom-right">
                    <div class="row no-gutters">
                        <div class="col-6 button-container">
                            <a href="{% url 'products' %}?master_category=mens&product_category=jackets" class="btn content-text text-white gender-buttons" role="button">Men's </a>
                        </div>
                        <div class="col-6 button-container">
                            <a href="{% url 'products' %}?master_category=womens&product_category=jackets" class="btn content-text text-white gender-buttons" role="button">Women's</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Featured Shoes-->
            <div class="col-lg-3 col-md-6 col-sm-12 my-2 product-container">
                <img src="{{MEDIA_URL}}shoes-index-2-r.png" class="featured-image" alt="Shoes">
                <div class="top-left">
                    <h5 class="title-text text-white text-uppercase">Shoes</h5>
                </div>
                <div class="bottom-right">
                    <div class="row no-gutters">
                        <div class="col-6 button-container">
                            <a href="{% url 'products' %}?master_category=mens&product_category=shoes" class="btn content-text text-white gender-buttons" role="button">Men's </a>
                        </div>
                        <div class="col-6 button-container">
                            <a href="{% url 'products' %}?master_category=womens&product_category=shoes" class="btn content-text text-white gender-buttons" role="button">Women's</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Featured Legwear-->
            <div class="col-lg-3 col-md-6 col-sm-12 my-2 product-container">
                <img src="{{MEDIA_URL}}legs-index-r.png" class="featured-image" alt="Legs">
                <div class="top-left">
                    <h5 class="title-text text-white text-uppercase">Legwear</h5>
                </div>
                <div class="bottom-right">
                    <div class="row no-gutters">
                        <div class="col-6 button-container">
                            <a href="{% url 'products' %}?master_category=mens&product_category=legwear" class="btn content-text text-white gender-buttons" role="button">Men's </a>
                        </div>
                        <div class="col-6 button-container">
                            <a href="{% url 'products' %}?master_category=womens&product_category=legwear" class="btn content-text text-white gender-buttons" role="button">Women's</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Featured Tops-->
            <div class="col-lg-3 col-md-6 col-sm-12 my-2 product-container">
                <img src="{{MEDIA_URL}}tops-index-r.png" class="featured-image" alt="Tops">
                <div class="top-left">
                    <h5 class="title-text text-white text-uppercase">Tops</h5>
                </div>
                <div class="bottom-right">
                    <div class="row no-gutters">
                        <div class="col-6 button-container">
                            <a href="{% url 'products' %}?master_category=mens&product_category=tops" class="btn content-text text-white gender-buttons" role="button">Men's </a>
                        </div>
                        <div class="col-6 button-container">
                            <a href="{% url 'products' %}?master_category=womens&product_category=tops" class="btn content-text text-white gender-buttons" role="button">Women's</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Parallax Image-->
<div class="parallax box-shadow-parallax"></div>



<!--Sale Banner-->
<div class="section sale-bg box-shadow-clearance bg-white">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 col-sm-8 offset-sm-2 col-md-5 offset-md-1 text-center px-3">
                <a href="{% url 'products' %}?clearance=clearance">
                    <img class="widget-image img-fluid" src="{{MEDIA_URL}}sale-home.png" alt="Sale Logo">
                </a>
            </div>
            <div class="col-12 col-md-5 my-auto text-center py-3">
                <h1 class="title-text text-uppercase color-text">sale now on!!</h1>
                <h3 class="content-text discount-text">Up to 50% off</h3>
            </div>
        </div>
    </div>
</div>

<!--Featured Blogs-->
<section class="bg-white">
    <div class="container py-5">
        <div class="row">
            <div class="col text-center mb-3">
                <h3 class="title-text text-uppercase">Latest from Tarmachan</h3>
                <hr class="w-50 mb-4 mx-auto">
            </div>
        </div>
        <!--Thanks to Owl Carousel (Credited in README)-->
        <div class="owl-carousel owl-theme">
            {% for blog in blogs %}
                <div class="card w-100 rounded-0 border-0 blog-card box-shadow">
                    <a href="{% url 'blog_detail' blog.id %}">
                        {% if blog.image1 %}
                            <img class="card-img-top img-fluid blog-img-top rounded-0" src="{{ blog.image1.url }}" alt="{{ blog.title }}">
                        {% elif blog.image2 %}
                            <img class="card-img-top img-fluid blog-img-top rounded-0" src="{{ blog.image2.url }}" alt="{{ blog.title }}">
                        {% elif blog.image3 %}
                            <img class="card-img-top img-fluid blog-img-top rounded-0" src="{{ blog.image3.url }}" alt="{{ blog.title }}">
                        {% else %}
                            <img class="card-img-top img-fluid blog-img-top rounded-0" src="{{ MEDIA_URL }}default-product-image.png" alt="{{ blog.title }}">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <div class="blog-title">
                            <h5 class="card-title title-text">{{ blog.title }}</h5>
                        </div>
                        <p class="content-text text-muted"><small>By: {{ blog.author }} | {{ blog.date }}</small></p>
                        <div class="module line-clamp">
                            <p class="card-text content-text">{{ blog.para1 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script>

        // Owl carousel properties (Credited in README)
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                loop:true,
                margin:10,
                nav:true,
                responsiveClass:true,
                responsive:{
                    0:{
                        items:1,
                    },
                    600:{
                        items:2,
                    },
                    1000:{
                        items:3,
                    }
                }
            });
        });
        
    </script>
    

{% endblock %}
