html {
    height: 100%
}

html, body {
    overflow-x: hidden;
}

/*--- Backgrounds ---*/

.bg-dark-green {
    background: #003838;
}

.bg-darker-green {
    background: #002929;
}

/*--- Backgrounds Ends ---*/

/*--- Text ---*/

.title-text {
    font-family: 'Cantata One', sans-serif;
}

.content-text {
    font-family: 'Crimson Text', sans-serif;
}

.color-text {
    color: #003838;
}

.larger-content-text {
    font-size: 20px;
}

.small-font {
    font-size: 12px;
}

/*--- Text Ends ---*/

/*--- Icons ---*/

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.border-right {
    border-right: solid 1px #177373;
    padding-right: 10px;
}

/*--- Icons Ends ---*/

/*--- Main Nav ---*/

.logo {
    height: 86px;
    width: 150px;
    object-fit: cover
}

.unstyled {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.unstyled-white {
    text-decoration: none;
    color: #fff;
}

.unstyled-white:hover {
    text-decoration: none;
    color: #fff;
}

.unstyled:hover {
    text-decoration: none;
    color: black;
}

.unstyled-color {
    text-decoration: none;
}

.unstyled-color:hover {
    color: #003838;
}

.align-right {
    text-align: right;
}

.header-container {
    padding-top: 142px;
}

.fixed-top {
    z-index: 10000;
}

.dropdown {
    position: static !important
}

.dropdown-nav-menu {
    width: 100vw !important;
    margin-top: 34px;
    border: none;
    border-radius: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .30)!important;
    left: -12px;
    overflow-y: scroll;
}

.dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar-light .navbar-toggler {
    color: #003838;
    border: none;
}

.basket-padding {
    padding-top: 20px;
}

.custom-padding {
    padding-right: 10px;
}

/*--- Main Nav Ends ---*/

/*--- Home Page ---*/

.index-image {
    width: 100%;
    height: calc(100vh - 142px);
    object-fit: cover;
    object-position: center center;
}

.product-container {
    position: relative;
    text-align:center;
    color: #fff;
    padding-left: 8px !important;
    padding-right: 8px !important;
    transition: all .5s ease-in-out;
}

.product-container:hover {
    transform: scale(1.03);
}

.featured-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center center;
}

.top-left {
    position: absolute;
    top: 25px;
    left: 25px;
}

.top-right {
    position: absolute;
    top: 25px;
    right: 25px;
    text-align: right;
}

.bottom-right {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-center {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: center;
}

/** thanks to https://stackoverflow.com/questions/27456919/triggering-a-transition-of-a-element-when-hovered-on-another-element/27457228 **/
.gender-buttons {
    background-color: #000;
    border-radius: 0;
    opacity: 0;
    transition: .5s linear;
}

.master-buttons {
    background-color: #000;
    border-radius: 0;
    transition: .5s linear;
    width: 150px;
}

.product-container:hover .gender-buttons {
    opacity: 1;
}

.gender-buttons:hover {
    background-color: #003838;
}

.master-buttons:hover {
    background-color: #003838;
}

.button-container {
    padding-left: 0px;
    padding-right: 0px;
}

.search-field {
    margin-top: -4px;
    border-top: 1px solid #003838 !important;
    width: 100vw;
    transform: translate3d(0px, 146px, 0px) !important;
}

/*--- Home Page Ends ---*/

/*--- About Us ---*/

.about-us-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center center;
}

.about-us-image-container {
    position: relative;
    text-align:left;
    color: #fff;
}

.bottom-left {
    position: absolute;
    bottom: 5%;
    left: 3%;
}

/** thanks to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax **/
.parallax {
    background-image: url("/media/parallax-image-r.jpeg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/*--- Media Queries ---*/

@media screen and (max-width: 992px) {
    .center-text-medium {
        text-align: center !important;
    }

    .dropdown-nav-menu {
        width: 92vw !important;
        margin-top: 10px;
        border: none;
        border-radius: 0;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .30)!important;
        left: 0px;
        overflow-y: auto;
    }

    .first-link {
        padding-top: 45px;
    }
}

@media screen and (max-width: 580px) {
    .logo {
        height: 69px;
        width: 120px;
        object-fit: cover
    }

    .header-container {
        padding-top: 125px;
    }

    .basket-padding {
        padding-top: 13px;
    }

    .larger-content-text {
        font-size: 16px;
    }

    .bottom-left {
        position: absolute;
        bottom: 5%;
        left: 5%;
    }

    .index-image {
        width: 100%;
        height: calc(100vh - 125px);
        object-fit: cover;
        object-position: center center;
    }

    .search-field {
        margin-top: -14px;
        transform: translate3d(0px, 139px, 0px) !important;
    }
}

@media screen and (max-height: 400px) {
    .navbar-nav {
        max-height: 200px;
        overflow-y: auto;
        width: 100vw;
    }
}

@media screen and (max-width: 370px) {
    .logo {
        height: 48px;
        width: 84px;
        object-fit: cover
    }

    .header-container {
        padding-top: 100px;
    }

    .basket-padding {
        padding-top: 4px;
    }

    .search-field {
        margin-top: -26px;
        transform: translate3d(0px, 130px, 0px) !important;
    }
}

@media screen and (max-width: 330px) {
    .custom-padding {
        padding-right: 0px;
    }
}

