html {
    height: 100%
}

/*--- Backgrounds ---*/

.bg-dark-green {
    background: #003838;
}

.bg-darker-green {
    background: #002929;
}

/*--- Backgrounds Ends ---*/

/*--- Text ---*/

.title-text {
    font-family: 'Cantata One', sans-serif;
}

.content-text {
    font-family: 'Crimson Text', sans-serif;
}

.color-text {
    color: #003838;
}

/*--- Text Ends ---*/

/*--- Icons ---*/

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.border-right {
    border-right: solid 1px #177373;
    padding-right: 30px;
}

/*--- Icons Ends ---*/

/*--- Main Nav ---*/

.logo {
    height: 86px;
    width: 150px;
    object-fit: cover
}

.unstyled {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.unstyled-white {
    text-decoration: none;
    color: #fff;
}

.unstyled-white:hover {
    text-decoration: none;
    color: #fff;
}

.unstyled:hover {
    text-decoration: none;
    color: black;
}

.unstyled-color:hover {
    color: #003838;
}

.align-right {
    text-align: right;
}

.header-container {
    padding-top: 142px;
}

.fixed-top {
    z-index: 10000;
}

.dropdown {
    position: static !important
}

.dropdown-nav-menu {
    width: 100% !important;
    margin-top: 34px;
    border: none;
    border-radius: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .30)!important;
    left: 0px;
}

/*--- Main Nav Ends ---*/

/*--- Home Page ---*/

.index-image {
    object-fit: cover;
    height: calc(100vh - 142px);
    width: 100%;
}

.product-container {
    position: relative;
    text-align:center;
    color: #fff;
    padding-left: 8px !important;
    padding-right: 8px !important;
    transition: all .5s ease-in-out;
}

.product-container:hover {
    transform: scale(1.03);
}

.featured-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center center;
}

.top-left {
    position: absolute;
    top: 25px;
    left: 25px;
}

.bottom-right {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/** thanks to https://stackoverflow.com/questions/27456919/triggering-a-transition-of-a-element-when-hovered-on-another-element/27457228 **/
.gender-buttons {
    background-color: #000;
    border-radius: 0;
    opacity: 0;
    transition: .5s linear;
}

.product-container:hover .gender-buttons {
    opacity: 1;
}

.gender-buttons:hover {
    background-color: #003838;
}

.button-container {
    padding-left: 0px;
    padding-right: 0px;
}


/*--- Media Queries ---*/

@media screen and (max-width: 992px) {
    .center-text-medium {
        text-align: center !important;
    }
}

