{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row no-gutters">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <!--Main Blog Image-->
        {% if blog.image1 %}
            <div class="row no-gutters">
                <div class="col-12 px-0 about-us-image-container">
                    <img src="{{ blog.image1.url }}" class="about-us-image" alt="{{ blog.title }}">
                    {% if blog.image_caption1 %}
                        <p class="content-text text-muted text-end me-4 me-xl-5 pt-2"><em>Image above: {{ blog.image_caption1 }}</em></p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <!--Blog Info & first 3 paragraphs-->
        <div class="row mt-4">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7 offset-lg-3 px-4">
                <h3 class="title-text mb-4">{{ blog.title }}</h3>
                <p class="content-text mb-1 fs-5">By: {{ blog.author }}</p>
                <p class="content-text text-muted mb-4">{{ blog.date }}</p>
                {% if blog.subheading1 %}
                    <h6 class="title-text mt-1">{{ blog.subheading1 }}</h6>
                {% endif %}
                <p class="content-text">{{ blog.para1 }}</p>
                {% if blog.subheading2 %}
                    <h6 class="title-text mt-1">{{ blog.subheading2 }}</h6>
                {% endif %}
                {% if blog.para2 %}
                    <p class="content-text">{{ blog.para2 }}</p>
                {% endif %}
                {% if blog.subheading3 %}
                    <h6 class="title-text mt-1">{{ blog.subheading3 }}</h6>
                {% endif %}
                {% if blog.para3 %}
                    <p class="content-text">{{ blog.para3 }}</p>
                {% endif %}
            </div>
        </div>

        <!--Main Blog Image-->
        {% if blog.image2 %}
            <div class="blog-parallax my-4" style="background-image: url('{{ blog.image2.url }}');"></div>
            {% if blog.image_caption2 %}
                <div class="row">
                    <div class="col-12 px-0">
                        <p class="content-text text-muted text-end me-4 mb-4 me-xl-5"><em>Image above: {{ blog.image_caption2 }}</em></p>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <!--Paragraphs 4-6-->
        <div class="row mt-0">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7 offset-lg-3 px-4">
                {% if blog.subheading4 %}
                    <h6 class="title-text mt-1">{{ blog.subheading4 }}</h6>
                {% endif %}
                <p class="content-text">{{ blog.para4 }}</p>
                {% if blog.subheading5 %}
                    <h6 class="title-text mt-1">{{ blog.subheading5 }}</h6>
                {% endif %}
                {% if blog.para5 %}
                    <p class="content-text">{{ blog.para5 }}</p>
                {% endif %}
                {% if blog.subheading6 %}
                    <h6 class="title-text mt-1">{{ blog.subheading6 }}</h6>
                {% endif %}
                {% if blog.para6 %}
                    <p class="content-text">{{ blog.para6 }}</p>
                {% endif %}
            </div>
        </div>

        <!--Blog content Image-->
        {% if blog.image3 %}
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-lg-5 offset-lg-4 px-4 my-4">
                    <img src="{{ blog.image3.url }}" class="blog-image3" alt="{{ blog.title }}">
                    {% if blog.image_caption3 %}
                        <p class="content-text text-muted text-end pt-2"><em>Image above: {{ blog.image_caption3 }}</em></p>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <!--Paragraphs 7-9-->
        <div class="row mt-0 mb-4">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7 offset-lg-3 px-4">
                {% if blog.subheading7 %}
                    <h6 class="title-text mt-1">{{ blog.subheading7 }}</h6>
                {% endif %}
                <p class="content-text">{{ blog.para7 }}</p>
                {% if blog.subheading8 %}
                    <h6 class="title-text mt-1">{{ blog.subheading8 }}</h6>
                {% endif %}
                {% if blog.para8 %}
                    <p class="content-text">{{ blog.para8 }}</p>
                {% endif %}
                {% if blog.subheading9 %}
                    <h6 class="title-text mt-1">{{ blog.subheading9 }}</h6>
                {% endif %}
                {% if blog.para9 %}
                    <p class="content-text">{{ blog.para9 }}</p>
                {% endif %}
                <a href="{% url 'blog' %}" class="btn content-text text-white buttons-general text-uppercase my-2 px-4" role="button"><i class="fas fa-chevron-left pe-2"></i>All Blogs</a>
                {% if request.user.is_superuser %}
                    <a href="{% url 'edit_blog' blog.id %}" class="btn content-text buttons-general-2 text-uppercase my-2 px-4" role="button">Edit Blog</a>
                    <a class="btn content-text delete-button text-uppercase fs-6 my-2 px-4" data-toggle="modal" data-target="#deleteModal">Delete Blog</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!--Delete Blog Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header title-text text-center">
              <h5 class="modal-title" id="exampleModalLabel">Delete Blog</h5>
            </div>
            <div class="modal-body content-text text-center">
                <p>Are you sure you want to delete <strong>{{ blog.title }}</strong>?</p>
            </div>
            <div class="modal-footer text-center">
                <button class="btn content-text buttons-general text-white text-uppercase fs-6 mb-2" data-dismiss="modal">Cancel</button>
                <a class="btn content-text delete-button text-uppercase fs-6 mb-2" href="{% url 'delete_blog' blog.id %}">Delete Blog</a>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
