{% extends "base.html" %}
{% load static %}

{% block title %}
    404 Error Page
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row no-gutters">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid mt-5 min-height">
    <div class="row">
        <div class="col text-center mb-3">
            <h2 class="title-text text-uppercase">404 - Page Not Found</h2>
            <hr class="w-50 mb-4 mx-auto">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col text-center">
            <p class="content-text">We're sorry, the page you've requested could not be found! Please return to the home page.</p>
            <a href="{% url 'home' %}" class="btn content-text text-white buttons-general text-uppercase mt-2 px-4" role="button"><i class="fas fa-chevron-left pe-2"></i>Home</a>
        </div>
    </div>
</div>
    

{% endblock %}