{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Cantata+One&family=Crimson+Text:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/5779558863.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Tarmachan {% block extra_title %}{% endblock %}</title>
  </head>
  <body>

    <header class="container-fluid fixed-top">
      <!--Delivery Banner-->
      <div class="row no-gutters bg-dark-green" id="delivery-banner">
        <div class="col-lg-6 offset-lg-3 text-center my-2 px-0">
          <h5 class="text-white content-text my-0">Free delivery on orders over £{{ free_delivery_threshold }}!</h5>
        </div>
        <div class="col-lg-3 my-auto d-none d-lg-block">
          <!--Delivery Banner Icons-->
          <ul class="list-inline list-unstyled text-white my-1 align-right">
            {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <li class="list-inline-item px-lg-3">
                <a href="{% url 'product_management' %}" class="text-white" data-toggle="tooltip" data-placement="bottom"
                  title="Product Management">
                  <i class="icon fas fa-user-cog fa-lg"></i>
                </a>
              </li>
              {% endif %}
            <li class="list-inline-item">
              <a href="{% url 'wishlist' %}" class="text-white" data-toggle="tooltip" data-placement="bottom"
                title="Wishlist">
                <i class="icon fas fa-heart fa-lg"></i>
              </a>
            </li>
            <li class="list-inline-item px-lg-3">
              <a href="{% url 'profile' %}" class="text-white" data-toggle="tooltip" data-placement="bottom"
                title="My Profile">
                <i class="icon fas fa-user fa-lg"></i>
              </a>
            </li>
            <li class="list-inline-item pe-lg-4">
              <a href="{% url 'account_logout' %}" class="text-white" data-toggle="tooltip" data-placement="bottom"
                title="Log Out">
                <i class="icon fas fa-sign-out-alt fa-lg"></i>
              </a>
            </li>
            {% else %}
            <li class="list-inline-item px-lg-3">
              <a href="{% url 'account_login' %}" class="text-white" data-toggle="tooltip" data-placement="bottom"
                title="Log In">
                <i class="icon fas fa-sign-in-alt fa-lg"></i>
              </a>
            </li>
            <li class="list-inline-item pe-lg-4">
              <a href="{% url 'account_signup' %}" class="text-white" data-toggle="tooltip" data-placement="bottom"
                title="Sign Up">
                <i class="icon fas fa-user-plus fa-lg"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <!--Main Nav-->
      <div class="row bg-white no-gutters py-2 box-shadow">
        <div class="col-lg-5 col-sm-4 col-4 my-auto">
          <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span>
                <i class="fas fa-bars fa-lg"></i>
              </span>
            </button>
            {% include 'includes/main-nav.html' %}
          </nav>
        </div>
        <!--Logo Image-->
        <div class="col-lg-2 col-sm-4 col-4 px-0 text-center">
          <a href="{% url 'home' %}" class="logo">
            <img src="/media/logo-black.png" class="logo" alt="Tarmachan Logo">
          </a>
        </div>
        <!--Search and Basket-->
        <div class="col-lg-5 col-sm-4 col-4 px-1 px-md-3 px-lg-4 basket-padding content-text">
          <ul class="list-inline list-unstyled align-right my-auto color-text">
            <li class="list-inline-item mx-0 mx-sm-1 border-right">
              <a href="" class="color-text unstyled-color" id="search-bar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                  <div><i class="fas fa-search"></i></div>
                    <p class="my-0 small-font">Search</p>
                </div>
              </a>
              <div class="dropdown-menu border-0 p-3 rounded-0 search-field" aria-labelledby="search-bar">
                <form class="form" method="GET" action="{% url 'products' %}">
                  <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0 content-text" type="text" name="q"
                      placeholder="Search our site">
                    <div class="input-group-append">
                      <button class="form-control btn btn-black border border-black rounded-0 bg-white"
                        type="submit">
                        <span>
                          <i class="fas fa-search"></i>
                        </span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <li class="list-inline-item mx-0 mx-sm-1 custom-padding">
              <a href="{% url 'view_bag' %}" class="{% if grand_total %}text-success font-weight-bold{% else %}color-text{% endif %} link-unstyled unstyled-color">
                <div class="text-center">
                  <div><i class="fas fa-shopping-basket"></i></div>
                  <p class="my-0 small-font">
                    {% if grand_total %}
                      £{{ grand_total|floatformat:2 }}
                    {% else %}
                      £0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!--Message Toasts-->
    {% if messages %}
    <div class="message-container">
      {% for message in messages %}
        {% with message.level as level %}
          {% if level == 40 %}
            {% include 'includes/toasts/toast_error.html' %}
          {% elif level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
          {% elif level == 25 %}
            {% include 'includes/toasts/toast_success.html' %}
          {% else %}
            {% include 'includes/toasts/toast_info.html' %}
          {% endif %}
        {% endwith %}
      {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="bg-dark-green w-100">
      <div class="container-fluid">
        <div class="row no-gutters pt-4">
          <div class="col-lg-5 col-md-6 col-sm-12 pt-3">
            <p class="title-text"></p>
          </div>
          <div class="col-lg-2 offset-lg-1 col-md-6 col-sm-12 pt-3 center-text-medium">
            <p class="title-text text-white text-uppercase">Shop</p>
            <ul class="list-unstyled text-white content-text">
              <li class="my-2">
                <a href="{% url 'products' %}?master_category=mens" class="unstyled-white">Men's</a>
              </li>
              <li class="my-2">
                <a href="{% url 'products' %}?master_category=womens" class="unstyled-white">Women's</a>
              </li>
              <li class="my-2">
                <a href="{% url 'products' %}?master_category=equipment" class="unstyled-white">Equipment</a>
              </li>
              <li class="my-2">
                <a href="{% url 'products' %}" class="unstyled-white">All Products</a>
              </li>
              <li class="my-2">
                <a href="{% url 'products' %}?clearance=clearance" class="unstyled-white">Clearance</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12 pt-3 center-text-medium">
            <p class="title-text text-white text-uppercase">Company</p>
            <ul class="list-unstyled text-white content-text pl-md-5">
              <li class="my-2">
                <a href="{% url 'about_us' %}" class="unstyled-white">About Us</a>
              </li>
              <li class="my-2">
                <a href="" class="unstyled-white">Contact Us</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="my-2">
                  <a href="{% url 'profile' %}" class="unstyled-white">Profile</a>
                </li>
                <li class="my-2">
                  <a href="{% url 'account_logout' %}" class="unstyled-white">Log Out</a>
                </li>
              {% else %}
                <li class="my-2">
                  <a href="{% url 'account_login' %}" class="unstyled-white">Login</a>
                </li>
                <li class="my-2">
                  <a href="{% url 'account_signup' %}" class="unstyled-white">Sign Up</a>
                </li>
              {% endif %}
              <li class="my-2">
                <a href="{% url 'blog' %}" class="unstyled-white">Blog</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12 pt-3 center-text-medium">
            <p class="title-text text-white text-uppercase">Social</p>
            <ul class="list-unstyled text-white content-text">
              <li class="my-2">
                <a href="https://www.facebook.com/" class="unstyled-white" target="_blank" rel="noreferrer">
                  <i class="fab fa-facebook me-2"></i> Facebook</a>
              </li>
              <li class="my-2">
                <a href="https://www.instagram.com/" class="unstyled-white" target="_blank" rel="noreferrer">
                  <i class="fab fa-instagram me-2"></i> Instagram</a>
              </li>
              <li class="my-2">
                <a href="https://twitter.com/?lang=en-gb" class="unstyled-white" target="_blank" rel="noreferrer">
                  <i class="fab fa-twitter me-2"></i> Twitter</a>
              </li>
              <li class="my-2">
                <a href="https://www.linkedin.com/" class="unstyled-white" target="_blank" rel="noreferrer">
                  <i class="fab fa-linkedin me-2"></i> Linkedin</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-12 text-center my-4">
            <img src="/media/logo-white.png" class="logo" alt="Tarmachan Logo">
          </div>
        </div>
        <div class="row no-gutters bg-darker-green py-3">
          <div class="col-12 text-center">
            <p class="text-white content-text my-auto">&copy 2021 created by Christopher Goodfellow  
              <a href="https://github.com/Tawnygoody/Tarmachan" class="unstyled-white mx-1" target="_blank" rel="noreferrer"><i class="fab fa-github"></i></p></a>
          </div>
        </div>
      </div>
    </footer>

    {% block postloadjs %}
      <script type="text/javascript">
        $('.toast').toast('show');

        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
      </script>
    {% endblock %}

    
  </body>
</html>