{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row no-gutters">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid product-detail-bg">
        <div class="row align-items-center my-auto py-lg-5">
            <div class="d-none d-lg-block d-xl-block col-lg-4 px-md-5">
                <p class="content-text text-muted">{{ product.sku }}</p>
                <h2 class="title-text text-uppercase">{{ product.name }}</h2>
                {% if product.rating %}
                    <p class="content-text">{% include 'products/includes/stars.html' %} <small class="px-2">{{ product.rating }}/5</small></p>
                {% endif %}
                <p class="content-text mt-5 fs-4">{{ product.description1 }}</p>
                <a href="#description" class="unstyled">
                    <p class="content-text text-black">Read More  <i class="fas fa-arrow-right px-2"></i></p>
                </a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <div class="product-image-container">
                    {% if product.image %}
                            <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <a href="" class="unstyled">
                            <img class="img-fluid" src="/media/default-product-image.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="d-none d-lg-block d-xl-block col-lg-4 px-md-5">
                <h5 class="title-text mb-1 text-uppercase">£{{ product.price }}</h5>
                <hr>
                {% if product.product_sub_category %}
                    <a href="{% url 'products' %}?master_category={{ product.master_category }}&product_sub_category={{ product.product_sub_category }}" class="unstyled-color">
                        <p class="content-text mb-3 text-muted"><i class="fas fa-tag"></i> {{product.master_category.friendly_name }} - {{ product.product_sub_category.friendly_name }}</p>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 d-lg-none pt-4 px-4">
                <p class="content-text text-muted">{{ product.sku }}</p>
                <h2 class="title-text text-uppercase">{{ product.name }}</h2>
                {% if product.rating %}
                    <p class="content-text">{% include 'products/includes/stars.html' %} <small class="px-2">{{ product.rating }}/5</small></p>
                {% endif %}
                <p class="content-text mt-3 fs-4">{{ product.description1 }}</p>
                <a href="#description" class="unstyled">
                    <p class="content-text text-black">Read More  <i class="fas fa-arrow-right px-2"></i></p>
                </a>
            </div>
            <div class="col-12 col-md-6 d-lg-none pt-4 px-4">
                <h5 class="title-text mb-1 text-uppercase">£{{ product.price }}</h5>
                <hr>
                {% if product.product_sub_category %}
                    <a href="{% url 'products' %}?master_category={{ product.master_category }}&product_sub_category={{ product.product_sub_category }}" class="unstyled-color">
                        <p class="content-text mb-3 text-muted"><i class="fas fa-tag"></i> {{product.master_category.friendly_name }} - {{ product.product_sub_category.friendly_name }}</p>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 py-5 px-4">
                <p class="content-text fs-4" id="description">{{ product.description1 }}</p>
                {% if product.description2 %}
                    <p class="content-text fs-5">{{ product.description2 }}</p>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 py-5 px-4">
                <h5 class="title-text">Specifications</h5>
                <hr>
                {% if product.spec1 %}
                    <p class="content-text fs-5">{{ product.spec1 }}</p>
                {% endif %}
                <hr>
                {% if product.spec2 %}
                    <p class="content-text fs-5">{{ product.spec2 }}</p>
                {% endif %}
                <hr>
                {% if product.spec3 %}
                    <p class="content-text fs-5">{{ product.spec3 }}</p>
                {% endif %}
                <hr>
                {% if product.spec4 %}
                    <p class="content-text fs-5">{{ product.spec4 }}</p>
                {% endif %}
                <hr>
            </div>
        </div>
        <hr class="d-none d-md-block d-lg-block d-xl-block">
    </div>

{% endblock %}
