{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row no-gutters">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <!--Title based on filters-->
        <div class="row">
            <div class="col text-center mt-4">
                {% if current_clearance %}
                    {% for c in current_clearance %}
                        <h2 class="title-text text-uppercase">{{ c.friendly_name }}</h2>
                    {% endfor %}
                {% elif current_product_sub_category %}
                    {% for c in current_product_sub_category %}
                        <h2 class="title-text text-uppercase">{{ c.friendly_name }}</h2>
                    {% endfor%}
                {% elif current_product_category %}
                    {% for c in current_product_category %}
                        <h2 class="title-text text-uppercase">{{ c.friendly_name }}</h2>
                    {% endfor%}
                {% elif current_master_category %}
                    {% for c in current_master_category %}
                        <h2 class="title-text text-uppercase">{{ c.friendly_name }}</h2>
                    {% endfor%}
                {% else %}
                    <h2 class="title-text text-uppercase">Products</h2>
                {% endif %}
                <hr class="w-50 mb-1 mx-auto">
            </div>
        </div>

        <div class="row mt-4 mb-2">

            <!--Sorting option-->
            <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end px-5">
                <select id="sort-selector" class="custom-select custom-select-sm border-0 box-shadow content-text">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                </select>
            </div>

            <!--Results Returned-->
            <div class="col-12 col-md-6 order-md-first text-align-man px-5">
                <p class="text-muted mt-3 content-text">
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
        </div>
        <hr>

        <!--Displays each product-->
        <div class="row">
            {% for product in products %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center my-2">
                    <div class="card border-0">
                        <!--Product Image-->
                        {% if product.image %}
                            <div class="product-image-container">
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    <!--Sale icon-->
                                    {% if product.clearance and product.clearance_price %}
                                        <div class="top-right-sale pe-1">
                                            <img width="50" height="50" class="widget-image" src="{{MEDIA_URL}}sale-logo.png" alt="Sale Logo">
                                        </div>
                                    {% endif %}
                                </a>
                                <a href="{% url 'product_detail' product.id %}" class="unstyled d-none d-lg-block d-xl-bloc">
                                    <div class="overlay my-auto d-none d-lg-block d-xl-block">
                                        <p class="content-text fs-5">{{ product.description1 }}</p>
                                    </div>
                                </a>
                            </div>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}" class="unstyled">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}default-product-image.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}

                        <!--Product Information-->
                        <div class="product-card-body card-body bg-white pb-0">
                            <p class="title-text text-uppercase mb-1">{{ product.name }}</p>
                        </div>
                        <div class="card-footer border-0 bg-white text-center pt-0">
                            <div class="row">
                                <div class="col">
                                    {% if product.clearance and product.clearance_price %}
                                        <p class="lead content-text mb-1 discount-text"><span class="rrp-price text-black">£{{ product.price }}</span> - £{{ product.clearance_price }}</p>
                                    {% else %}
                                        <p class="lead content-text mb-1">£{{ product.price }}</p>
                                    {% endif %}
                                    {% if product.product_sub_category %}
                                        <a href="{% url 'products' %}?master_category={{ product.master_category }}&product_sub_category={{ product.product_sub_category }}" class="unstyled-color">
                                            <p class="content-text mb-1 text-muted"><i class="fas fa-tag"></i> {{product.master_category.friendly_name }} - {{ product.product_sub_category.friendly_name }}</p>
                                        </a>
                                    {% endif %}
                                    {% if product.rating %}
                                        {% include 'products/includes/stars.html' %}
                                        <p class="content-text small text-muted">(Rating: {{ product.rating }}/5)</p>
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                        <small>
                                            <a class="unstyled-color-icon me-4" href="{% url 'edit_product' product.id %}"><i class="far fa-edit"></i></a>
                                            <a class="text-danger mx-1 pointer" data-toggle="modal" data-target="#deleteModal" data-id="{{ product.name }}" data-url="{% url 'delete_product' product.id %}"><i class="fas fa-minus-circle"></i></a>
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Adds an 'hr' dependant on screen sizes-->
                {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-4">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-4">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-4">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-4">
                        <hr>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!--Back to top arrow-->
    <div class="btt-button">
        <a class="btt-link d-flex h-100 unstyled">
            <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
        </a>	
    </div>

    <!--Delete Product Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header title-text text-center">
              <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
            </div>
            <div class="modal-body content-text text-center">
                <p>Are you sure you want to delete <strong><span id="modalProductName"></span></strong>?</p>
            </div>
            <div class="modal-footer text-center">
                <button class="btn content-text buttons-general text-white text-uppercase fs-6 mb-2" data-dismiss="modal">Cancel</button>
                <a class="btn content-text delete-button text-uppercase fs-6 mb-2" href="" id="deleteBtn">Delete Product</a>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript">

        // Takes the user to top of the page when arrow is clicked
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})

        /* 
            When the delete modal is opened it takes the product ID and URL
            so the correct product is deleted.
            Thanks to https://stackoverflow.com/questions/42441574/passing-information-to-modal-in-for-loop
        */
        $('#deleteModal').on('shown.bs.modal', function(event) {
            $("#modalProductName").text($(event.relatedTarget).data('id'));
            $("#deleteBtn").attr('href', $(event.relatedTarget).data('url'));
        })

	</script>

    <script type="text/javascript">
        
        // Allows for sorting of products from the sort selector
        $('#sort-selector').change(function() {
            let selector = $(this);
            let currentUrl = new URL(window.location);

            let selectedVal = selector.val();
            if(selectedVal != "reset"){
                let sort = selectedVal.split("_")[0];
                let direction = selectedVal.split("_")[1];
                console.log(sort)

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>

{% endblock %}
