{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row no-gutters">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid product-detail-bg">
        <div class="row align-items-center my-auto py-lg-5">
            <div class="d-none d-lg-block d-xl-block col-lg-4 px-md-5">
                <p class="content-text text-muted">{{ product.sku }}</p>
                <h2 class="title-text mb-5 text-uppercase">{{ product.name }}</h2>
                <p class="content-text fs-4">{{ product.description1 }}</p>
                <a href="" class="unstyled">
                    <p class="content-text text-black">Read More  <i class="fas fa-arrow-right px-2"></i></p>
                </a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <div class="product-image-container">
                    {% if product.image %}
                            <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <a href="" class="unstyled">
                            <img class="img-fluid" src="/media/default-product-image.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="d-none d-lg-block d-xl-block col-lg-4 px-md-5">
                <h5 class="title-text mb-1 text-uppercase">£{{ product.price }}</h5>
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 d-lg-none pt-4 px-4">
                <p class="content-text text-muted">{{ product.sku }}</p>
                <h2 class="title-text mb-3 text-uppercase">{{ product.name }}</h2>
                <p class="content-text fs-4">{{ product.description1 }}</p>
                <a href="" class="unstyled">
                    <p class="content-text text-black">Read More  <i class="fas fa-arrow-right px-2"></i></p>
                </a>
            </div>
            <div class="col-12 col-md-6 d-lg-none pt-4 px-4">
                <h5 class="title-text mb-1 text-uppercase">£{{ product.price }}</h5>
                <hr>
            </div>
        </div>
    </div>

{% endblock %}
